<!DOCTYPE html>
<html>
  <head>
    <title>Stories Ruby On Rails</title>
     <!--Bootstrap -->
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
      <!-- Google Font Link -->
      	<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300" rel="stylesheet" type="text/css">

           <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
   <!-- Include the Sidr JS -->
    <script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>
     <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="menu">
		<ul>
			<li> <%= link_to "Home", '/' %> </li>
			<li><%= link_to "About", '/about' %> </li>
			<li> <%= link_to "Contact", '/contact' %> </li>
		</ul> 
         <%= link_to image_tag("/assets/close.png"), ".menu", id: 'close', width: '24px' %>
        </div>
         <%= link_to image_tag("/assets/open.png"), ".menu", id: 'open', width: '24px' %>
         
    <%= yield %>

    <div class="footer">
		  <div class="container">
			<p>A Shutterbugg Project</p>
		</div>
   
    <!-- Bootstrap link -->
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
      <%= javascript_pack_tag 'slidr' %>

  </body>
</html>
